body{
    margin: 0;
    background-color: black;
}
@font-face{
    font-family: "FX-LED";
    src: url("fonts/FX-LED.ttf");
}
@font-face{
    font-family: "Hack";
    src: url("fonts/Hack-Bold.ttf");
}
.digital-clock{
    background-color: black;
    color: white;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    border: 0.5rem solid #2d2d2d;
    width: 600px;
    height: 300px;
    
    
}
.week{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    color: #2d2d2d;
    font-weight: bold;
    font-family: "Hack";  
}
.week .active{
    color: white;
}
.time{
    font-family: "FX-LED"
}
.hour,
.min,
.dot{
    display: inline-block;
    font-size: 13rem;
}

.invisible{
    visibility: hidden;
}